
<div class="flex justify-content-between menu">
  <p-menubar class="my-menu" [model]="items">
    <ng-template pTemplate="start">
    <h3>Flea Market Manager</h3>
    </ng-template>
<!--    Premier menu-->
    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-menuitem-link right-items" [routerLink]="item.routerLink ? item.routerLink : null">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-menubar>
<!--  deuxieme menu-->
  <p-menubar [model]="itemsLog">
    <ng-template pTemplate="end">
      <div class="flex align-items-center">
        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
        <p-avatar image="icon" shape="circle" />
      </div>
    </ng-template>
        <ng-template pTemplate="item" let-itemlog>
          <a pRipple class=" align-item-end p-menuitem-link" [routerLink]="itemlog.routerLink ? itemlog.routerLink : null" (click)="itemlog.command ? itemlog.command : null" >
            <span [class]="itemlog.icon"></span>
            <span class="ml-2" >{{ itemlog.label }}</span>
          </a>
        </ng-template>
  </p-menubar>.
  </div>

